.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #7fa6f4; /* blue */
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .expanded-row td {
    background-color: #e6f0ff; /* Light blue */
  }

  .expand-icon {
    cursor: pointer;
    margin-right: 8px;
  }
  
  @media (max-width: 600px) {
    .table th:nth-child(5),
    .table td:nth-child(5) {
      display: none;
    }
  
    .table th:nth-child(4),
    .table td:nth-child(4) {
      display: none;
    }
  }
  